@{
  Page.Title = "Test Helper";
}

<!-- <html> from layout -->
  <!-- <body> from layout -->
    <p>This is some opening paragraph text.</p>

    <!-- Insert the call to your note helper here. -->
    @SiteHelpers.MakeNote("My test note content.")

    <p>This is some following text.</p>