@{
  Page.Title = "Items";    

  var selectCommand = "";
  var searchTerm = "";
  WebGrid grid = null;

  if ( !Request.QueryString["tag"].IsEmpty() ) {
    selectCommand = "SELECT * FROM Items WHERE Tag = @0";
    searchTerm = Request.QueryString["tag"];
  }

  if ( !Request.QueryString["serno"].IsEmpty() ) {
    selectCommand = "SELECT * FROM Items WHERE SerialNumber = @0";
    searchTerm = Request.QueryString["serno"];
  }

  if ( !Request.QueryString["desc"].IsEmpty() ) {
    selectCommand = "SELECT * FROM Items WHERE Description LIKE @0";
    searchTerm = "%" + Request["desc"] + "%";
  }

  if ( selectCommand.Length > 0 ) {
    var db = Database.Open( "WebPagesTags" );
    var selectedData = db.Query( selectCommand, searchTerm );

    if ( selectedData.Any() ) {
      grid = new WebGrid( source: selectedData, defaultSort: "Tag", rowsPerPage: 5 );  
    } else if ( !Request.QueryString["tag"].IsEmpty() ) {
      Response.Redirect( "~/AddItem?tag=" + Request.QueryString["tag"] );       
    }
  }
}

<!-- <html> from layout -->
  <!-- <body> from layout -->
    <h2>Items</h2>
    <div>
      <h4>Use the search tools below:</h4>
    </div>

    <form method="get">
      <div>
        <label for="tag">Tag Lookup:</label>
        <input type="text" name="tag" value="@Request.QueryString["tag"]" />
        <input type="Submit" value="Search Tags" /><br/>
        <br/>
      </div>
    </form>

    <form method="get">
      <div>
        <label for="serno">Serial Number:</label>
        <input type="text" name="serno" value="@Request.QueryString["serno"]" />
        <input type="Submit" value="Search Serial Numbers" /><br/>
        <br />
      </div>
    </form>

    <form method="get">
      <div>
        <label for="desc">Item Description:</label>
        <input type="text" name="desc" value="@Request.QueryString["desc"]" />
        <input type="Submit" value="Search Descriptions" /><br/>
        <br />
      </div>
    </form>

    @if ( grid != null ) {
      <div>
        @grid.GetHtml(
          tableStyle: "grid",
          headerStyle: "head",
          alternatingRowStyle: "alt",
          columns: grid.Columns(
            grid.Column(format: @<a href="~/ViewItem?id=@item.ID">View</a>),
            grid.Column("Tag"),
            grid.Column("PONumber", "PO Number"),
            grid.Column("Description"),
            grid.Column("SerialNumber", "Serial Number"),
            grid.Column("Model"),
            grid.Column(format: @<a href="~/DisposeItem?id=@item.ID">Dispose</a>)
          )
        )
      </div>        
    }

    <p>
      <a href="~/AddItem">Add an Item</a>
    </p>
